:root {
  color-scheme: only light;
}

@media screen {
  :root {
    color-scheme: only light;
  }
}
html, body, div {
  height: 100%;
  margin: 0;
}

html {
  font-size: 1vmin;
}

body {
  margin: 0;
  cursor: none;
}

div {
  background: #eef;
}

body > div *, body > div *:before, body > div *:after, body > div:before, body > div:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
}

:root {
  view-transition-name: root;
}

@view-transition {
  navigation: auto;
}
::view-transition-group(root) {
  animation-duration: 0.5s;
}

@keyframes move-bottom-out {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes move-bottom-in {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
::view-transition-old(root) {
  animation: 0.4s ease-in both move-bottom-in;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-bottom-out;
}

art {
  width: 95rem;
  aspect-ratio: 1/1;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0.5rem;
  background: #eef;
  overflow: hidden;
}
art > u:nth-of-type(1) {
  background: rgb(26, 78, 109);
  width: 7rem;
  height: 7rem;
  transform: translate3d(6.5rem, 39.5rem, 0) rotate(-11deg) skewX(57deg);
  border: 1.5rem solid rgb(12, 5, 40);
  border-radius: 3rem;
}
art > x:nth-of-type(1) {
  background: rgb(129, 23, 11);
  width: 3rem;
  height: 3rem;
  transform: translate3d(10rem, 41.5rem, 0) rotate(22deg) skewX(-57deg);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 2rem rgb(129, 23, 11), 0 2rem 1rem 0 rgb(223, 117, 20);
}
art > u:nth-of-type(2) {
  background: rgb(26, 78, 109);
  width: 10rem;
  height: 5rem;
  transform: translate3d(3rem, 34rem, 0) rotate(25deg) skewX(45deg);
  border: 1.5rem solid rgb(12, 5, 40);
  border-radius: 2rem;
  z-index: -1;
}
art > x:nth-of-type(2) {
  background: rgb(129, 23, 11);
  width: 1.5rem;
  height: 1.5rem;
  transform: translate3d(7.5rem, 36rem, 0) rotate(69deg) skewX(-45deg);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.5rem rgb(129, 23, 11);
}
art > u:nth-of-type(3) {
  background: rgb(18, 55, 76);
  width: 8rem;
  height: 4rem;
  transform: translate3d(4.5rem, 29rem, 0) rotate(28deg) skewX(50deg);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 2.5rem;
  z-index: -2;
}
art > x:nth-of-type(3) {
  background: rgb(129, 23, 11);
  width: 1rem;
  height: 1rem;
  transform: translate3d(7.5rem, 30rem, 0);
  border-radius: 50%;
}
art > x:nth-of-type(3):before {
  background: rgb(223, 117, 20);
  width: 1rem;
  height: 1rem;
  transform: translate3d(-0.5rem, -1rem, 0);
  border-radius: 50%;
}
art > x:nth-of-type(3):after {
  background: rgb(12, 5, 40);
  width: 8rem;
  height: 5rem;
  transform: translate3d(0.5rem, 1rem, 0) skewX(60deg);
}
art > u:nth-of-type(4) {
  background: rgb(26, 78, 109);
  width: 5rem;
  height: 5rem;
  transform: translate3d(7rem, 25rem, 0) rotate(35deg) skewX(35deg);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 3rem;
  z-index: -3;
}
art > u:nth-of-type(5) {
  background: white;
  width: 5rem;
  height: 19.2rem;
  transform: translate3d(12rem, 25rem, 0) rotate(25deg) skewX(28deg);
  border-radius: 3rem;
  border-left: 1rem solid rgb(12, 5, 40);
  border-top: 3rem solid rgb(12, 5, 40);
  border-bottom: 1rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(6) {
  background: white;
  width: 4.8rem;
  height: 19.2rem;
  transform: translate3d(16rem, 24rem, 0) rotate(25deg) skewX(28deg);
  border-radius: 3rem;
  border-left: 1rem solid rgb(12, 5, 40);
  border-top: 2rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(7) {
  background: white;
  width: 17rem;
  height: 21rem;
  transform: translate3d(15.5rem, 27.7rem, 0) rotate(0deg) skewX(0deg);
  z-index: 1;
}
art > u:nth-of-type(7):after {
  background: white;
  width: 10rem;
  height: 5rem;
  transform: translate3d(5.5rem, -3rem, 0);
  z-index: 999;
}
art > u:nth-of-type(8) {
  background: white;
  width: 12rem;
  height: 7rem;
  transform: translate3d(18rem, 18.7rem, 0) rotate(24deg) skewX(28deg);
  border-radius: 3rem;
  border-top: 3rem solid rgb(12, 5, 40);
  border-left: 2rem solid rgb(12, 5, 40);
  border-right: 3rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(9) {
  background: white;
  width: 6rem;
  height: 5rem;
  transform: translate3d(23rem, 16rem, 0) rotate(90deg) skewX(28deg);
  border-radius: 3rem;
  border-top: 2rem solid rgb(12, 5, 40);
  border-left: 3rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(10) {
  background: rgb(16, 10, 95);
  width: 13rem;
  height: 18rem;
  transform: translate3d(20rem, 28rem, 0) rotate(25deg) skewX(15deg);
  border-radius: 4rem;
  border-top: 1rem solid #000;
  border-left: 1rem solid #000;
  z-index: 2;
}
art > x:nth-of-type(4) {
  background: white;
  width: 2rem;
  height: 2rem;
  transform: translate3d(24rem, 30rem, 0);
  box-shadow: 0 0 1rem 0.5rem white;
  border-radius: 50%;
  z-index: 4;
}
art > x:nth-of-type(5) {
  background: white;
  width: 4rem;
  height: 4rem;
  transform: translate3d(26.5rem, 32rem, 0);
  box-shadow: 0 0 1rem 0.5rem white;
  border-radius: 50%;
  z-index: 4;
}
art > x:nth-of-type(6) {
  background: white;
  width: 3rem;
  height: 3rem;
  transform: translate3d(23.3rem, 39rem, 0);
  box-shadow: 0 0 1rem 0.5rem white;
  border-radius: 50%;
  z-index: 4;
}
art > x:nth-of-type(7) {
  background: white;
  width: 3rem;
  height: 3rem;
  transform: translate3d(28rem, 39.5rem, 0);
  box-shadow: 0 0 1rem 0.5rem white;
  border-radius: 50%;
  z-index: 4;
}
art > u:nth-of-type(11) {
  background: rgb(227, 186, 185);
  width: 2.7rem;
  height: 3.5rem;
  transform: translate3d(32rem, 29rem, 0) rotate(70deg) skewX(15deg);
  border-radius: 50%;
  border: 1rem solid rgb(12, 5, 40);
  animation: 3s infinite alternate rowHead;
  z-index: 3;
}
art > u:nth-of-type(12) {
  background: rgb(202, 0, 14);
  width: 5rem;
  height: 18rem;
  transform: translate3d(34rem, 33rem, 0) rotate(-20deg) skewX(10deg);
  border-radius: 80% 0 0 100%;
  animation: 3s infinite alternate rowBody;
  z-index: 3;
}
art > u:nth-of-type(13) {
  background: rgb(16, 10, 95);
  width: 14rem;
  height: 2rem;
  transform: translate3d(14.5rem, 50.5rem, 0) rotate(25deg);
  border-radius: 4rem;
  z-index: 1;
}
art > u:nth-of-type(14) {
  background: rgb(80, 70, 75);
  width: 7rem;
  height: 7rem;
  transform: translate3d(17.5rem, 44.8rem, 0) rotate(-33deg) skewX(33deg);
  border-radius: 1.5rem;
  z-index: 1;
}
art > u:nth-of-type(15) {
  background: white;
  width: 3rem;
  height: 3rem;
  transform: translate3d(23.5rem, 46.5rem, 0);
  border-radius: 50%;
  z-index: 1;
}
art > u:nth-of-type(16) {
  background: rgb(223, 117, 20);
  width: 5rem;
  height: 8rem;
  transform: translate3d(14.5rem, 36.5rem, 0) skewX(30deg);
  border-radius: 50% 70% 0 1rem;
  box-shadow: 0 0 1rem 0.5rem black;
  z-index: 1;
}
art > u:nth-of-type(17) {
  background: rgb(191, 80, 22);
  width: 4rem;
  height: 7rem;
  transform: translate3d(15.5rem, 30.5rem, 0) skewX(30deg);
  border-radius: 50% 70% 0 1rem;
  box-shadow: 0 0 1rem 0.5rem black;
  z-index: 1;
}
art > u:nth-of-type(18) {
  background: rgb(192, 44, 16);
  width: 3rem;
  height: 5rem;
  transform: translate3d(18.5rem, 26.5rem, 0) skewX(29deg);
  border-radius: 50% 70% 0 1rem;
  box-shadow: 0 0 1rem 0.5rem black;
  z-index: 1;
}
art > u:nth-of-type(19) {
  background: rgb(12, 5, 40);
  width: 7.2rem;
  height: 2rem;
  transform: translate3d(13.7rem, 46.2rem, 0) skewX(0deg) skewY(0deg) rotate(0deg);
  border-radius: 0 100% 0 0;
  z-index: 1;
}
art > x:nth-of-type(8) {
  background: white;
  width: 3rem;
  height: 3rem;
  transform: translate3d(15rem, 45rem, 0);
  border-radius: 50%;
  z-index: 4;
}
art > u:nth-of-type(20) {
  background: rgb(12, 5, 40);
  width: 7.2rem;
  height: 2rem;
  transform: translate3d(13.7rem, 46.2rem, 0);
  border-radius: 0 100% 0 0;
  z-index: 1;
}
art g:nth-of-type(1) {
  transform: translate3d(32.7rem, 43.2rem, 0) rotate(35deg) scale(0.8);
  z-index: 3;
}
art g:nth-of-type(1) > z:nth-of-type(1) {
  background: rgb(123, 0, 15);
  width: 3rem;
  height: 12rem;
  transform: translate3d(0rem, 0rem, 0) skewX(10deg);
  z-index: 1;
}
art g:nth-of-type(1) > z:nth-of-type(2) {
  background: rgb(123, 0, 15);
  width: 6rem;
  height: 16rem;
  transform: translate3d(-3rem, 0rem, 0) skewX(-10deg);
  border-radius: 0 100% 0 0;
  z-index: 1;
}
art > u:nth-of-type(21) {
  background: linear-gradient(to right, green, 5%, rgb(223, 117, 20));
  width: 33rem;
  height: 5rem;
  transform: translate3d(7.5rem, 52rem, 0) rotate(-37deg) skewX(-20deg);
  border-radius: 20% 0 100% 50%;
  box-shadow: 0 0 1rem 0.5rem rgb(12, 5, 40);
  animation: 3s infinite alternate rowPedal;
  z-index: 999;
}
art > u:nth-of-type(22) {
  background: transparent;
  width: 33rem;
  height: 0rem;
  border-bottom: 7.5rem solid rgb(12, 5, 40);
  border-left: 4rem solid transparent;
  transform: translate3d(-2.5rem, 57rem, 0) rotate(-27deg) skewX(0deg);
  border-radius: 0 0 100% 0;
  animation: 3s infinite alternate rowPedalBack;
  z-index: 1;
}
art > u:nth-of-type(23) {
  background: white;
  width: 33rem;
  height: 17rem;
  transform: translate3d(27.5rem, 50rem, 0) rotate(25deg) skewX(0deg);
  border-radius: 0% 10% 130% 90%;
  box-shadow: inset 8rem -0.5rem 0 3rem rgb(16, 10, 95), inset 1rem -0.5rem 0 3rem rgb(16, 10, 95);
  z-index: 1;
}
art > u:nth-of-type(23):after {
  background: rgb(16, 10, 95);
  width: 10rem;
  height: 6rem;
  transform: translate3d(6rem, 12rem, 0) rotate(31deg);
  z-index: 1;
}
art > u:nth-of-type(24) {
  background: white;
  width: 10rem;
  height: 5rem;
  transform: translate3d(0rem, 60.7rem, 0) rotate(-27deg);
  border-radius: 1rem 100% 20% 1rem;
  filter: blur(10px);
  z-index: 1;
}
art > u:nth-of-type(24):after {
  background: white;
  width: 5rem;
  height: 5rem;
  transform: translate3d(-2rem, 4rem, 0);
  border-radius: 1rem 100% 20% 1rem;
  filter: blur(5px);
  z-index: 1;
}
art > u:nth-of-type(25) {
  background-image: linear-gradient(135deg, rgb(233, 187, 106) 5%, rgb(223, 117, 20) 15%, rgb(233, 187, 106) 30% 55%, rgb(223, 117, 20) 70%);
  width: 23rem;
  height: 40rem;
  transform: translate3d(38rem, 6rem, 0) rotate(-21deg) skewX(-8deg);
  border-radius: 0 2rem 100% 0;
  border-top: 1rem solid black;
  border-left: 1rem solid black;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
  animation: sail 1s infinite;
  animation-timing-function: ease-in-out;
  z-index: 2;
}
art > u:nth-of-type(26) {
  background: rgb(202, 0, 14);
  width: 20rem;
  height: 20rem;
  transform: translate3d(53rem, 24rem, 0);
  border-radius: 50%;
  animation: 60s infinite normal linear sun;
  z-index: -4;
}
art > x:nth-of-type(9) {
  background: transparent;
  width: 20rem;
  height: 20rem;
  transform: translate3d(53rem, 24rem, 0);
  border-radius: 50%;
  box-shadow: inset 0 -3rem 4rem 1rem white;
  animation: 60s infinite normal linear sunOverlay;
  z-index: -4;
}
art > u:nth-of-type(27) {
  background: rgb(223, 117, 20);
  width: 17rem;
  height: 17rem;
  transform: translate3d(71.5rem, 24rem, 0);
  border-radius: 50%;
  box-shadow: inset 0rem 0rem 0 3.7rem rgb(26, 78, 109);
  animation: 45s infinite normal linear moon;
  z-index: 1;
}
art > u:nth-of-type(28) {
  background: rgb(227, 186, 185);
  width: 1.7rem;
  height: 2.3rem;
  transform: translate3d(51.1rem, 41.7rem, 0);
  border-radius: 50%;
  border: 0.7rem solid black;
  animation: 20s infinite alternate leftGuyHead;
  z-index: 2;
}
art > u:nth-of-type(29) {
  background: rgb(15, 35, 59);
  width: 5rem;
  height: 11rem;
  transform: translate3d(52.5rem, 44rem, 0);
  border-radius: 0 70% 10% 0;
  box-shadow: 0 0 0.2rem 0.2rem rgb(16, 10, 95);
  animation: 20s infinite alternate leftGuyBody;
  z-index: 2;
}
art > u:nth-of-type(30) {
  background: rgb(227, 186, 185);
  width: 2.5rem;
  height: 4rem;
  transform: translate3d(57.7rem, 40rem, 0) rotate(30deg);
  border-radius: 50%;
  border: 0.7rem solid black;
  animation: 0.5s infinite alternate midGalHead;
  z-index: 2;
}
art > x:nth-of-type(10) {
  background: black;
  width: 5rem;
  height: 8rem;
  transform: translate3d(54.8rem, 41.5rem, 0);
  border-radius: 100% 0 0 0;
  animation: 0.5s infinite alternate midGalHair;
  z-index: -1;
}
art > u:nth-of-type(31) {
  background: linear-gradient(to bottom, rgb(59, 14, 81), rgb(79, 73, 161));
  width: 5rem;
  height: 11rem;
  transform: translate3d(57.5rem, 45rem, 0) rotate(5deg);
  border-radius: 0 70% 10% 0;
  border-top: 1rem solid black;
  box-shadow: 0 0 1rem 0.5rem rgb(16, 10, 95);
  animation: 0.5s infinite alternate midGalBody;
  z-index: 1;
}
art > u:nth-of-type(32) {
  background: rgb(227, 186, 185);
  width: 2rem;
  height: 5rem;
  transform: translate3d(62.7rem, 41rem, 0) rotate(50deg);
  border-radius: 50%;
  border: 0.7rem solid black;
  animation: 10s infinite alternate rightGuyHead;
  z-index: 2;
}
art > u:nth-of-type(33) {
  background: black;
  width: 5rem;
  height: 12rem;
  transform: translate3d(59.5rem, 46rem, 0) rotate(20deg);
  border-radius: 0 100% 100% 0;
  animation: 10s infinite alternate rightGuyBody;
  z-index: 2;
}
art > u:nth-of-type(34) {
  background: rgb(12, 5, 40);
  width: 23rem;
  height: 15rem;
  transform: translate3d(47.5rem, 59rem, 0) rotate(0deg);
  border-radius: 50%;
  z-index: -1;
}
art > u:nth-of-type(35) {
  background: rgb(15, 35, 59);
  width: 40rem;
  height: 5rem;
  transform: translate3d(50.5rem, 63rem, 0) rotate(27deg) skewX(68deg);
  border-radius: 0 0 0 100%;
  border: 1rem solid rgb(12, 5, 40);
  z-index: 2;
}
art > u:nth-of-type(36) {
  background: rgb(42, 79, 138);
  width: 3rem;
  height: 5.2rem;
  transform: translate3d(68.5rem, 45rem, 0) rotate(30deg);
  border-radius: 0 100% 0 0;
  border: 1rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(37) {
  background: rgb(233, 187, 106);
  width: 4rem;
  height: 4rem;
  transform: translate3d(71rem, 48.8rem, 0);
  border-radius: 50%;
  border: 1rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(38) {
  background: linear-gradient(to bottom, white, rgb(233, 187, 106));
  width: 1.5rem;
  height: 8.5rem;
  transform: translate3d(77.2rem, 42.5rem, 0) rotate(47deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-left: 1rem solid rgb(12, 5, 40);
  border-right: 1rem solid rgb(12, 5, 40);
  box-shadow: 0 0 0.7rem 0.4rem rgb(42, 79, 138);
  z-index: 1;
}
art > u:nth-of-type(39) {
  background: rgb(123, 0, 15);
  width: 11rem;
  height: 10rem;
  transform: translate3d(63rem, 50.5rem, 0) rotate(27deg);
  border-radius: 1rem;
  z-index: 1;
}
art > u:nth-of-type(40) {
  background: rgb(12, 5, 40);
  width: 4rem;
  height: 2rem;
  transform: translate3d(64.8rem, 48rem, 0);
  z-index: 1;
}
art > u:nth-of-type(41) {
  background: rgb(28, 28, 45);
  width: 3rem;
  height: 3.5rem;
  transform: translate3d(74rem, 54.2rem, 0) rotate(20deg);
  border: 0.7rem solid rgb(12, 5, 40);
  border-radius: 0 0 100% 0;
  z-index: 1;
}
art > u:nth-of-type(42) {
  background: rgb(28, 28, 45);
  width: 6rem;
  height: 6.5rem;
  transform: translate3d(76rem, 55.8rem, 0) rotate(23deg);
  border: 0.7rem solid rgb(12, 5, 40);
  border-radius: 0 0 100% 0;
  z-index: 1;
}
art > u:nth-of-type(43) {
  background: rgb(110, 112, 135);
  width: 2rem;
  height: 3rem;
  transform: translate3d(72rem, 55.8rem, 0) rotate(23deg);
  border: 0.7rem solid rgb(12, 5, 40);
  border-radius: 0 0 100% 0;
  z-index: 1;
}
art > u:nth-of-type(44) {
  background: rgb(42, 79, 138);
  width: 2rem;
  height: 4rem;
  transform: translate3d(71rem, 58.8rem, 0) rotate(27deg);
  border-radius: 0 100% 0 0;
  border-top: 0.7rem solid rgb(12, 5, 40);
  border-right: 1rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(45) {
  background: rgb(110, 112, 135);
  width: 6rem;
  height: 8rem;
  transform: translate3d(72rem, 56.8rem, 0) rotate(23deg);
  z-index: -1;
}
art > u:nth-of-type(46) {
  background: rgb(12, 5, 40);
  width: 8rem;
  height: 10rem;
  transform: translate3d(77rem, 56.8rem, 0) rotate(23deg);
  z-index: -1;
}
art > u:nth-of-type(47) {
  background: rgb(233, 187, 106);
  width: 5rem;
  height: 3rem;
  transform: translate3d(84.8rem, 60rem, 0) rotate(30deg);
  border: 0.5rem solid rgb(12, 5, 40);
  border-radius: 50%;
  animation: 10s infinite alternate edgeGuyHead;
  z-index: 1;
}
art > u:nth-of-type(48) {
  background: rgb(16, 10, 95);
  width: 6rem;
  height: 2rem;
  transform: translate3d(74.8rem, 62rem, 0) rotate(-38deg);
  border: 0.5rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: 1;
}
art > u:nth-of-type(49) {
  background: rgb(123, 0, 15);
  width: 3.5rem;
  height: 2.5rem;
  transform: translate3d(77.8rem, 64rem, 0) rotate(-38deg);
  border: 0.5rem solid rgb(12, 5, 40);
  border-radius: 2rem;
  z-index: 1;
}
art > u:nth-of-type(50) {
  background: rgb(233, 187, 106);
  width: 2rem;
  height: 5rem;
  transform: translate3d(81.8rem, 64rem, 0) rotate(62deg);
  border: 0.5rem solid rgb(12, 5, 40);
  border-radius: 0 100% 0 0;
  z-index: -1;
}
art > u:nth-of-type(51) {
  background: transparent;
  width: 23rem;
  height: 1rem;
  transform: translate3d(69.8rem, 48rem, 0) rotate(46deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(52) {
  background: transparent;
  width: 11rem;
  height: 1rem;
  transform: translate3d(72.8rem, 48rem, 0) rotate(39deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(53) {
  background: transparent;
  width: 9rem;
  height: 1rem;
  transform: translate3d(76.8rem, 45rem, 0) rotate(46deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(54) {
  background: transparent;
  width: 9rem;
  height: 9rem;
  transform: translate3d(85rem, 57rem, 0) rotate(33deg);
  border-bottom: 1rem solid rgb(12, 5, 40);
  border-radius: 50%;
  animation: 5s infinite alternate edgeGuyArms;
  z-index: 1;
}
art > u:nth-of-type(54):after {
  width: 11rem;
  height: 10rem;
  transform: translate3d(0rem, 1rem, 0);
  border-bottom: 1rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: -1;
}
art > u:nth-of-type(54):before {
  width: 0.5rem;
  height: 5rem;
  transform: translate3d(7rem, 7rem, 0) rotate(-33deg);
  border-left: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: -1;
}
art > u:nth-of-type(55) {
  background: rgb(176, 77, 99);
  width: 20rem;
  height: 20rem;
  transform: translate3d(73rem, 75rem, 0);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: -2;
}
art > u:nth-of-type(56) {
  background: rgb(42, 79, 138);
  width: 15rem;
  height: 15rem;
  transform: translate3d(75rem, 79rem, 0);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: -2;
}
art > u:nth-of-type(57) {
  background: linear-gradient(to right, #eef, rgb(191, 80, 22));
  width: 47rem;
  height: 19rem;
  transform: translate3d(42rem, 79rem, 0);
  border-right: 1rem solid rgb(12, 5, 40);
  border-radius: 0 50% 50% 0;
  z-index: -2;
}
art > u:nth-of-type(58) {
  background: rgb(28, 28, 45);
  width: 20rem;
  height: 20rem;
  transform: translate3d(67rem, 67rem, 0);
  border: 1.5rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: -2;
}
art > u:nth-of-type(59) {
  background: linear-gradient(180deg, rgb(110, 112, 135), #eef);
  width: 26rem;
  height: 15rem;
  transform: translate3d(54.2rem, 71.5rem, 0) rotate(-26deg) skewX(17deg);
  border-bottom: 1rem solid rgb(12, 5, 40);
  border-radius: 0 100% 0 0;
  filter: blur(5px);
  z-index: -1;
}
art > u:nth-of-type(60) {
  background: #eef;
  width: 34rem;
  height: 20rem;
  transform: translate3d(50rem, 59rem, 0);
  border-radius: 0 100% 0 0;
  border-right: 1rem solid rgb(12, 5, 40);
  z-index: -2;
}
art > u:nth-of-type(61) {
  background: linear-gradient(to right, white, rgb(233, 187, 106));
  width: 34rem;
  height: 36rem;
  transform: translate3d(-8rem, 38rem, 0) rotate(-45deg);
  filter: blur(15px);
  z-index: -2;
}
art > u:nth-of-type(62) {
  background: linear-gradient(to bottom, rgb(110, 112, 135), rgb(28, 28, 45), rgb(30, 70, 72), rgb(16, 10, 95));
  width: 4.5rem;
  height: 23rem;
  transform: translate3d(13rem, 62rem, 0) rotate(47deg);
  border-radius: 0 100% 10% 0;
  border: 1rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(62):after {
  background: rgb(233, 187, 106);
  width: 1rem;
  height: 10rem;
  transform: translate3d(0rem, 13rem, 0) rotate(0deg);
  z-index: 1;
  filter: blur(3px);
  z-index: 1;
}
art > u:nth-of-type(63) {
  background: linear-gradient(to bottom, rgb(110, 112, 135), rgb(30, 70, 72));
  width: 3rem;
  height: 15rem;
  transform: translate3d(21rem, 69rem, 0) rotate(42deg);
  border-radius: 0 100% 0 0;
  border: 1rem solid rgb(12, 5, 40);
  border-bottom: 0;
  animation: 5s infinite alternate fishBottomLip;
  z-index: 1;
}
art > u:nth-of-type(64) {
  background: rgb(30, 70, 72);
  width: 3rem;
  height: 9rem;
  transform: translate3d(16rem, 82rem, 0) rotate(36deg);
  border-radius: 50%;
  z-index: 1;
}
art > u:nth-of-type(65) {
  background: linear-gradient(to top, rgb(30, 70, 72), rgb(12, 5, 40));
  width: 11rem;
  height: 13.5rem;
  transform: translate3d(9.2rem, 71.2rem, 0) skewX(-5deg);
  z-index: -1;
  border-radius: 100% 0 0 0;
}
art > u:nth-of-type(66) {
  background: transparent;
  width: 19rem;
  height: 1rem;
  transform: translate3d(11.8rem, 71rem, 0) rotate(22deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(67) {
  background: transparent;
  width: 35rem;
  height: 1rem;
  transform: translate3d(0rem, 80rem, 0) rotate(5deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(68) {
  background: transparent;
  width: 31rem;
  height: 1rem;
  transform: translate3d(2rem, 83rem, 0) rotate(9deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(69) {
  background: transparent;
  width: 14rem;
  height: 1rem;
  transform: translate3d(12rem, 74rem, 0) rotate(43deg);
  border-top: 1rem solid rgb(12, 5, 40);
  border-radius: 80%;
  z-index: 1;
}
art > u:nth-of-type(70) {
  background: transparent;
  width: 3.5rem;
  height: 0.8rem;
  transform: translate3d(14.5rem, 74.3rem, 0) rotate(15deg);
  border: 0.5rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(71) {
  background: transparent;
  width: 3rem;
  height: 1rem;
  transform: translate3d(13rem, 75.7rem, 0) rotate(30deg);
  border: 0.5rem solid rgb(12, 5, 40);
  z-index: 1;
}
art > u:nth-of-type(72) {
  background: linear-gradient(to right, black, rgb(59, 14, 81), rgb(79, 73, 161));
  width: 25rem;
  height: 9rem;
  transform: translate3d(26.5rem, 64.5rem, 0) rotate(44deg) skewX(-10deg);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 0 0 100% 0;
  z-index: -1;
}
art > u:nth-of-type(72):after {
  background: rgb(233, 187, 106);
  width: 1rem;
  height: 7rem;
  transform: translate3d(13rem, -2.5rem, 0) rotate(90deg);
  filter: blur(3px);
  z-index: 1;
}
art > u:nth-of-type(73) {
  background: linear-gradient(to top, black, rgb(59, 14, 81), rgb(79, 73, 161));
  width: 29rem;
  height: 33rem;
  transform: translate3d(36.5rem, 54.5rem, 0) rotate(-30deg);
  border: 1rem solid rgb(12, 5, 40);
  border-radius: 50%;
  z-index: -2;
}
art > u:nth-of-type(73):after {
  background: #eef;
  width: 29rem;
  height: 33rem;
  transform: translate3d(4rem, 3rem, 0) rotate(20deg);
  border-radius: 50%;
  border-left: 1rem solid rgb(12, 5, 40);
  z-index: -1;
}
art > u:nth-of-type(74) {
  background: rgb(12, 5, 40);
  width: 27rem;
  height: 1rem;
  transform: translate3d(59.5rem, 84.5rem, 0) rotate(-25deg);
  z-index: 1;
}
@keyframes rowHead {
  to {
    transform: translate3d(42rem, 31rem, 0) rotate(85deg) skewX(15deg);
  }
}
@keyframes rowBody {
  to {
    transform: translate3d(34rem, 33rem, 0) rotate(50deg) skewX(10deg);
  }
}
@keyframes rowPedal {
  to {
    transform: translate3d(24.5rem, 59rem, 0) rotate(-110deg) skewX(-20deg);
  }
}
@keyframes rowPedalBack {
  to {
    transform: translate3d(24.5rem, 64rem, 0) rotate(-110deg) skewX(-20deg);
  }
}
@keyframes fishBottomLip {
  to {
    transform: translate3d(19rem, 69rem, 0) rotate(20deg);
  }
}
@keyframes sun {
  0% {
    transform: translate3d(31rem, 49rem, 0);
    background: rgb(202, 0, 14);
  }
  25% {
    transform: translate3d(53rem, 24rem, 0);
    background: rgb(202, 0, 14);
  }
  50% {
    transform: translate3d(62rem, 17rem, 0);
    background: rgb(192, 44, 16);
  }
  75% {
    transform: translate3d(75rem, 8rem, 0);
    background: rgb(223, 117, 20);
  }
  100% {
    transform: translate3d(95rem, 0rem, 0);
    background: rgb(223, 117, 20);
  }
}
@keyframes sunOverlay {
  0% {
    transform: translate3d(31rem, 49rem, 0);
  }
  25% {
    transform: translate3d(53rem, 24rem, 0);
  }
  50% {
    transform: translate3d(62rem, 17rem, 0);
  }
  75% {
    transform: translate3d(75rem, 8rem, 0);
  }
  100% {
    transform: translate3d(95rem, 0rem, 0);
  }
}
@keyframes sail {
  to {
    background: linear-gradient(315deg, rgb(233, 187, 106) 5%, rgb(223, 117, 20) 15%, rgb(233, 187, 106) 30% 55%, rgb(223, 117, 20) 70%);
  }
}
@keyframes moon {
  0% {
    transform: translate3d(95.5rem, 36rem, 0);
    background: rgb(223, 117, 20);
    box-shadow: inset 0rem 0rem 0 2rem rgb(26, 78, 109);
  }
  25% {
    transform: translate3d(71.5rem, 24rem, 0);
    background: rgb(223, 117, 20);
    box-shadow: inset 0rem 0rem 0 3.7rem rgb(26, 78, 109);
  }
  50% {
    transform: translate3d(54.5rem, 9rem, 0);
    background: rgb(223, 117, 20);
    box-shadow: inset 0rem 0rem 0 5rem rgb(26, 78, 109);
  }
  75% {
    transform: translate3d(28.5rem, -2rem, 0);
    background: rgb(223, 117, 20);
    box-shadow: inset 0rem 0rem 0 7rem rgb(26, 78, 109);
  }
  100% {
    transform: translate3d(10.5rem, -17rem, 0);
    background: rgb(223, 117, 20);
    box-shadow: inset 0rem 0rem 0 9rem rgb(26, 78, 109);
  }
}
@keyframes edgeGuyHead {
  to {
    transform: translate3d(84.8rem, 60rem, 0) rotate(-35deg);
  }
}
@keyframes edgeGuyArms {
  to {
    transform: translate3d(79rem, 54rem, 0) rotate(-49deg);
  }
}
@keyframes leftGuyHead {
  0% {
    transform: translate3d(51.1rem, 41.7rem, 0);
  }
  50% {
    transform: translate3d(50.5rem, 37rem, 0) rotate(7deg);
  }
  100% {
    transform: translate3d(46.1rem, 36.7rem, 0) rotate(31deg);
  }
}
@keyframes leftGuyBody {
  0% {
    transform: translate3d(52.5rem, 44rem, 0);
  }
  50% {
    transform: translate3d(48.5rem, 41rem, 0) rotate(25deg);
  }
  100% {
    transform: translate3d(42.5rem, 40rem, 0) rotate(41deg);
  }
}
@keyframes midGalHead {
  0% {
    transform: translate3d(57.7rem, 40rem, 0) rotate(30deg);
  }
  100% {
    transform: translate3d(59.7rem, 38rem, 0) rotate(30deg);
  }
}
@keyframes midGalHair {
  0% {
    transform: translate3d(54.8rem, 41.5rem, 0);
  }
  100% {
    transform: translate3d(56rem, 38rem, 0) rotate(30deg);
  }
}
@keyframes midGalBody {
  0% {
    transform: translate3d(57.5rem, 45rem, 0) rotate(5deg);
  }
  100% {
    transform: translate3d(57.5rem, 42rem, 0) rotate(20deg);
  }
}
@keyframes rightGuyHead {
  0% {
    transform: translate3d(62.7rem, 41rem, 0) rotate(50deg);
  }
  100% {
    transform: translate3d(70.7rem, 44rem, 0) rotate(10deg);
  }
}
@keyframes rightGuyBody {
  0% {
    transform: translate3d(59.5rem, 46rem, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(68.5rem, 50rem, 0) rotate(20deg);
  }
}/*# sourceMappingURL=css-index.css.map */