:root {
  --sunWidth: 360px;

}



body {
  background: radial-gradient(#000000, #333333);
  background: url(imgs/several_circles_marks.jpg);
  background-size: 100%;
  margin: 0;
}



main {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}

.sun {
  width: var(--sunWidth);
  aspect-ratio: 1;
  background: rgb(17, 23, 57, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 5px 10px white, 0 0 35px white;
  position: absolute;
  top: calc(50% - 265px);
  left: calc(50% - 240px);
}


/* color-mix(in srgb, #E91E63 50%, #03A9F4 50%) = color(srgb 0.462745 0.390196 0.672549) */

[class^='planet'] {
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  /* animation: orbit var(--t, 20s) linear infinite; */
}

[class^='planet']:before {
  aspect-ratio: 1;
  border-radius: 50%;
  content: "";
  position: absolute;
}



.planet-01 {
  --t: 6315.79ms;
  width: 500px;
  margin-top: -343px;
  margin-left: -356px;
}
.planet-01:before {
  width: 32px;
  background: rgba(170, 147, 65, 0.8);
}



.planet-02 {
  --t: 5315ms;
  width: 500px;
  margin-top: -275px;
  margin-left: -350px;
}
.planet-02:before {
  width: 67px;
  background: rgba(162, 87, 87, 0.8);
}



.planet-03 {
  --t: 4315ms;
  width: 500px;
  margin-top: -197px;
  margin-left: -230px;
  transform: rotate(45deg);
}
.planet-03:before {
  width: 90px;
  background: rgba(135, 99, 126, 0.8);
  box-shadow: 0 0 5px 5px rgb(155, 210, 255), 
              0 0 40px rgb(155, 210, 255);
  z-index: -1;
}





.planet-04 {
  --t: 6315ms;
  width: 500px;
  margin-top: -295px;
  margin-left: -288px;
  transform: rotate(90deg);
}
.planet-04:before {
  width: 57px;
  background: rgba(182, 153, 77, 0.8);
}




.planet-05 {
  --t: 5315ms;
  width: 570px;
  margin-top: -305px;
  margin-left: -242px;
  transform: rotate(90deg);
}
.planet-05:before {
  width: 25px;
  background: rgba(121, 20, 18, 0.8);
}






.planet-06 {
  --t: 8315ms;
  width: 570px;
  margin-top: -238px;
  margin-left: -290px;
  transform: rotate(90deg);
}
.planet-06:before {
  width: 30px;
  background: rgba(186, 101, 10, 0.8);
  box-shadow: 0 0 1px 2px rgba(247, 255, 155, 0.8);
}





.planet-07 {
  --t: 4315ms;
  width: 570px;
  margin-top: -215px;
  margin-left: -330px;
  transform: rotate(90deg);
  /* position: absolute; */
}
.planet-07:before {
  width: 135px;
  background: rgba(24, 48, 43, 0.8);
  z-index: -1;
}
.planet-07:after {
  position: absolute;
  content: "";
  aspect-ratio: 1;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 27px;
  margin-left: -13.5px;
  margin-top: -13.5px;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(44, 141, 252, 0.8);
  --t: 4000ms;
  /* animation: orbit var(--t, 20s) linear infinite; */
  transform-origin: 100px 100px;
}





/* .planet-42 {
  --t: 4ms;
  width: 570px;
  margin-top: -163px;
  margin-left: -383px;
  transform: rotate(90deg);
}
.planet-42:before {
  width: 27px;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(44, 141, 252, 0.8);
} */






.planet-09 {
  --t: 3315ms;
  width: 570px;
  margin-top: -214px;
  margin-left: -250px;
  transform: rotate(-45deg);
}
.planet-09:before {
  width: 90px;
  background: rgb(118, 106, 127);
  box-shadow: 0 0 0 3px rgba(0, 0, 0),
              0 0 0 5px rgba(87, 151, 255, 0.75);
  z-index: -1;
}


.planet-10 {
  --t: 3000ms;
  width: 570px;
  margin-top: -269px;
  margin-left: -294px;
}
.planet-10:before {
  width: 30px;
  background: rgb(0, 0, 0);
  top: calc(50% + 38px);
  left: calc(50% - 309px);
}



.planet-11 {
  width: 62px;
  background: rgba(142, 103, 25, 0.8);
  top: calc(50% + 52px);
  left: calc(50% - 239px);
}
.planet-12 {
  width: 12px;
  background: rgba(0, 0, 0);
  box-shadow: 0 0 0 3px rgba(222, 162, 42, 0.8);
  top: calc(50% - 12px);
  left: calc(50% - 232px);
}


















@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
