:root {
  box-sizing: border-box;
  color-scheme: only light;
  font-size: 1vmin;
  --t_l: 10s;
  --t_c: 45s;
}

body {
  background: rgb(242, 237, 211);
  /* background: black; */
  /* background: url(imgs/circles-in-a-circle-1923.jpg); */
  background-size: 100%;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  isolation: isolate;
}

*, *:after {
  animation: none !important;
  /* opacity: 0.9; */
}


main {
  position: relative;
  isolation: isolate;
  width: 100vw;
  max-width: 100vh;
  height: auto;
  max-height: 100vh;
  aspect-ratio: 1;
  /* overflow: hidden; */
}

img {
  object-fit: contain;
  opacity: 0.3;
  display: none;
  max-width: 100vw;
}

main img,
main section{
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
