:root {
  box-sizing: border-box;
  color-scheme: only light;
  font-size: 1vmin;
  --t_l: 10s;
  --t_c: 45s;
}

body {
  background: rgb(242, 237, 211);
  /* background: black; */
  /* background: url(imgs/circles-in-a-circle-1923.jpg); */
  background-size: 100%;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  isolation: isolate;
}

*, *:after {
  /* animation: none !important; */
  /* opacity: 0.8; */
}


main,
canvas,
main .outer_ring {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  isolation: isolate;
  width: 100vw;
  max-width: 100vh;
  height: auto;
  max-height: 100vh;
  aspect-ratio: 1;
  /* overflow: hidden; */
}

canvas {
  border: 1px solid red;
  position: absolute;
}

main img {
  object-fit: contain;
  opacity: 0.3;
}

main img,
main section,
main .outer_ring {
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  /* height: 100vh; */
  /* max-height: 100vh; */
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
main section,
main section div {
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: difference;  */
  /* mix-blend-mode: normal;      */
  mix-blend-mode: hard-light;
}




.ring {
  width: 91rem;
  box-shadow: inset 0 0 0 4rem rgba(0, 0, 0, 1);
  border-radius: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: calc(50% - 46.2rem);
  left: calc(50% - 45.5rem);
}





.rays {
  position: absolute;
}

[class^='ray-'] {
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200vh;
  /* height: 200%; */
}

.ray-01 {
  /* width: 43rem;
  background: linear-gradient(to bottom, rgb(55, 143, 141) 60%, rgb(146, 185, 143) 100%);
  clip-path: polygon(0 0, 0rem 0, 100% 100%, 0 100%);
  margin-top: -250rem;
  margin-left: -20rem;
  transform: skew(39.5deg); */
  width: 40rem;
  background: linear-gradient(to bottom, rgb(55, 143, 141) 50%, rgb(146, 185, 143) 100%);
  clip-path: polygon(0 0, 1rem 0, 100% 100%, 0 100%);
  margin-top: -179rem;
  margin-left: -35rem;
  transform: skew(39.5deg);
  /* animation: 20s infinite alternate linear shineRay1; */
}
@keyframes shineRay1 {
  to {
    /* transform: skew(-49.5deg); */
    /* 
    top-left (0% 0%)
    top-right (100% 0%)
    bottom-right (100% 100%)
    bottom-left (0% 100%)
    */
    clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
  }
}
.ray-02 {
  /* width: 42rem;
  background: rgb(226, 183, 111);
  clip-path: polygon(0 0, 6rem 0, 100% 100%, 0 100%);
  margin-top: -100rem;
  margin-left: -20rem;
  transform: skew(-49.5deg); */

  width: 45rem;
  background: rgb(226, 183, 111);
  clip-path: polygon(0 0, 6rem 0, 100% 100%, 0 100%);
  margin-top: -125rem;
  margin-left: -21rem;
  transform: skew(-49.5deg);
  /* animation: 40s infinite alternate linear shineRay2; */
}
@keyframes shineRay2 {
  to {
    transform: skew(39.5deg);
  }
}





[class^='circle-'] {
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  /* animation: orbit var(--t, 40s) linear infinite; */
  /* --x: calc(var(--t) * 10); */
  /* animation: orbit var(--x, 20s) linear infinite; */
}


.circle-01 {
  width: 29rem;
  background: rgba(63, 72, 49, 1);
  margin-top: -10.7rem;
  margin-left: -17rem;
}
.circle-02 {
  width: 20.7rem;
  background: rgba(224, 168, 171, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: -30.4rem;
  margin-left: -22rem;
}
.circle-03 {
  width: 11.2rem;
  background: rgba(106, 151, 125, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: -15.1rem;
  margin-left: -17.6rem;
}
.circle-04 {
  width: 23rem;
  background: rgba(251, 223, 70, 1);
  border: solid 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: -6.1rem;
  margin-left: -22.8rem;
}
.circle-05 {
  width: 16.6rem;
  background: rgba(179, 13, 28, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: -23.6rem;
  margin-left: -7.6rem;
}
.circle-06 {
  width: 10rem;
  background: rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 0 3.4rem rgba(218, 79, 40, 1);
  border: solid 0.8rem rgba(0, 0, 0, 1);
  margin-top: -9.4rem;
  margin-left: -9.5rem;
}
.circle-07 {
  width: 2.8rem;
  background: rgba(84, 16, 22, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: 8rem;
  margin-left: -1rem;
}
.circle-08 {
  width: 8.4rem;
  background: rgba(207, 52, 58, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 11.2rem;
  margin-left: -18.6rem;
}
.circle-09 {
  width: 6.7rem;
  background: rgba(72, 153, 115, 1);
  border: solid 0.5rem rgba(0, 0, 0, 1);
  margin-top: 4.9rem;
  margin-left: -26.3rem;
}
.circle-10 {
  width: 4.4rem;
  background: rgba(222, 0, 29, 1);
  border: solid 1rem rgba(0, 0, 0, 1);
  margin-top: -6.8rem;
  margin-left: -32.5rem;
}
.circle-11 {
  width: 1.8rem;
  background: rgba(26, 60, 118, 1);
  border: solid 0.7rem rgba(0, 0, 0, 1);
  margin-top: 6.2rem;
  margin-left: -36.1rem;
}
.circle-12 {
  width: 5.7rem;
  background: rgba(217, 97, 64, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: 19rem;
  margin-left: -31.2rem;
}
.circle-13 {
  width: 0.6rem;
  background: rgba(37, 37, 37, 1);
  border: solid 0.5rem rgba(0, 0, 0, 1);
  margin-top: 21.4rem;
  margin-left: -9.6rem;
}
.circle-14 {
  width: 1.9rem;
  background: rgba(192, 16, 25, 1);
  border: solid 0.5rem rgba(0, 0, 0, 1);
  margin-top: -38rem;
  margin-left: -5.1rem;
}
.circle-15 {
  width: 5rem;
  background: rgba(211, 122, 114, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 28.6rem;
  margin-left: 1.9rem;
}
.circle-16 {
  width: 2.2rem;
  background: rgba(237, 175, 74, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 22.7rem;
  margin-left: 7.9rem;
}
.circle-17 {
  width: 5rem;
  background: rgba(24, 27, 27, 1);
  margin-top: -12rem;
  margin-left: 16rem;
}
.circle-18 {
  width: 6.5rem;
  background: rgba(24, 27, 27, 1);
  margin-top: -21rem;
  margin-left: 7.3rem;
}
.circle-19 {
  width: 9rem;
  background: rgba(13, 94, 109, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: -6.9rem;
  margin-left: 22.3rem;
}
.circle-20 {
  width: 23.4rem;
  background: rgba(63, 143, 120, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: -15.4rem;
  margin-left: 5.6rem;
}
.circle-21 {
  width: 12rem;
  background: rgba(150, 86, 104, 1);
  margin-top: -28.7rem;
  margin-left: 12.3rem;
}
.circle-22 {
  width: 1.5rem;
  background: rgba(224, 73, 70, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 18.8rem;
  margin-left: -3.2rem;
}
.circle-23 {
  width: 3.7rem;
  background: rgba(192, 77, 96, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 20rem;
  margin-left: 25.9rem;
}
.circle-24 {
  width: 3.8rem;
  background: rgba(27, 30, 24, 1);
  border: solid 0.4rem rgba(0, 0, 0, 1);
  margin-top: 15.4rem;
  margin-left: 15.8rem;
}
.circle-25 {
  width: 16rem;
  background: rgba(243, 212, 79, 1);
  border: solid 0.3rem rgba(0, 0, 0, 1);
  margin-top: 4rem;
  margin-left: 5.4rem;
}








[class^='line-'] {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 1);
  /* animation: var(--t_l) infinite linear rotateLine; */
}
@keyframes rotateLine {
  to {
    transform: rotateZ(360deg);
  }
}





.line-01 {
  width: 62rem;
  height: 0.3rem;
  margin-top: -20rem;
  margin-left: -28rem;
  animation: calc(var(--t_l) * 9.5) infinite linear rotateLine;
  transform: rotateZ(9.5deg);
}
.line-02 {
  width: 73.8rem;
  height: 0.3rem;
  margin-top: 7.5rem;
  margin-left: -38.6rem;
  animation: calc(var(--t_l) * 11.5) infinite linear rotateLine;
  transform: rotateZ(11.5deg);
}
.line-03 {
  width: 69.5rem;
  height: 0.4rem;
  margin-top: -0.7rem;
  margin-left: -37.4rem;
  animation: calc(var(--t_l) * 15) infinite linear rotateLine;
  transform: rotateZ(15deg);
}
.line-04 {
  width: 70rem;
  height: 0.4rem;
  margin-top: 1.6rem;
  margin-left: -38rem;
  animation: calc(var(--t_l) * 15.7) infinite linear rotateLine;
  transform: rotateZ(15.7deg);
}
.line-05 {
  width: 62rem;
  height: 0.4rem;
  margin-top: 13rem;
  margin-left: -33rem;
  animation: calc(var(--t_l) * 7) infinite linear rotateLine;
  transform: rotateZ(7deg);
}
.line-06 {
  width: 57.2rem;
  height: 0.4rem;
  margin-top: 17rem;
  margin-left: -35rem;
  animation: calc(var(--t_l) * 27.2) infinite linear rotateLine;
  transform: rotateZ(27.2deg);
}
.line-07 {
  width: 66rem;
  height: 0.4rem;
  margin-top: -11rem;
  margin-left: -27rem;
  animation: calc(var(--t_l) * 36.3) infinite linear rotateLine;
  transform: rotateZ(36.3deg);
}




.line-08 {
  width: 40rem;
  height: 0.3rem;
  margin-top: -9.3rem;
  margin-left: -38rem;
  animation: calc(var(--t_l) * 42) infinite linear rotateLine;
  transform: rotateZ(-42deg);
}
.line-09 {
  width: 55.2rem;
  height: 0.3rem;
  margin-top: -7.5rem;
  margin-left: -38.7rem;
  animation: calc(var(--t_l) * 52.4) infinite linear rotateLine;
  transform: rotateZ(-52.4deg);
}
.line-10 {
  width: 75.2rem;
  height: 0.3rem;
  margin-top: -1.3rem;
  margin-left: -36.5rem;
  animation: calc(var(--t_l) * 59) infinite linear rotateLine;
  transform: rotateZ(-59deg);
}
.line-11 {
  width: 63.2rem;
  height: 0.3rem;
  margin-top: 1.3rem;
  margin-left: -15rem;
  animation: calc(var(--t_l) * 81) infinite linear rotateLine;
  transform: rotateZ(-81deg);
}
.line-12 {
  width: 41.5rem;
  height: 0.6rem;
  margin-top: 2.6rem;
  margin-left: 3.3rem;
  animation: calc(var(--t_l) * 90.5) infinite linear rotateLine;
  transform: rotateZ(-90.5deg);
}
.line-13 {
  width: 61rem;
  height: 0.2rem;
  margin-top: 0.6rem;
  margin-left: -15.4rem;
  animation: calc(var(--t_l) * 80.7) infinite linear rotateLine;
  transform: rotateZ(-80.7deg);
}
.line-14 {
  width: 67.9rem;
  height: 0.25rem;
  margin-top: 2.1rem;
  margin-left: -15.6rem;
  animation: calc(var(--t_l) * 80.7) infinite linear rotateLine;
  transform: rotateZ(-80.7deg);
}
.line-15 {
  width: 60rem;
  height: 0.2rem;
  margin-top: 5.4rem;
  margin-left: -36.6rem;
  animation: calc(var(--t_l) * 53.7) infinite linear rotateLine;
  transform: rotateZ(-53.7deg);
}
.line-16 {
  width: 59.1rem;
  height: 0.2rem;
  margin-top: 6rem;
  margin-left: -35.2rem;
  animation: calc(var(--t_l) * 55.7) infinite linear rotateLine;
  transform: rotateZ(-55.7deg);
}



.line-17 {
  width: 8.6rem;
  height: 0.2rem;
  margin-top: -8.1rem;
  margin-left: -38.8rem;
  animation: calc(var(--t_l) * 60) infinite linear rotateLine;
  transform: rotateZ(-60deg);
}
.line-18 {
  width: 8.6rem;
  height: 0.2rem;
  margin-top: -8.2rem;
  margin-left: -37.4rem;
  animation: calc(var(--t_l) * 52) infinite linear rotateLine;
  transform: rotateZ(-52deg);
}
.line-19 {
  width: 7.5rem;
  height: 0.2rem;
  margin-top: -5.2rem;
  margin-left: -29.3rem;
  animation: calc(var(--t_l) * 73) infinite linear rotateLine;
  transform: rotateZ(-73deg);
}
.line-20 {
  width: 6.8rem;
  height: 0.2rem;
  margin-top: -26rem;
  margin-left: -0.3rem;
  animation: calc(var(--t_l) * 128) infinite linear rotateLine;
  transform: rotateZ(-128deg);
}
.line-21 {
  width: 6.4rem;
  height: 0.2rem;
  margin-top: -27.8rem;
  margin-left: 1rem;
  animation: calc(var(--t_l) * 124) infinite linear rotateLine;
  transform: rotateZ(-124deg);
}
.line-22 {
  width: 4.2rem;
  height: 0.2rem;
  margin-top: -14.3rem;
  margin-left: 23rem;
  animation: calc(var(--t_l) * 1) infinite linear rotateLine;
  transform: rotateZ(0deg);
}
.line-23 {
  width: 5.7rem;
  height: 0.2rem;
  margin-top: -12.8rem;
  margin-left: 23rem;
  animation: calc(var(--t_l) * 1) infinite linear rotateLine;
  transform: rotateZ(0deg);
}
.line-24 {
  width: 11.3rem;
  height: 0.2rem;
  margin-top: 25.4rem;
  margin-left: 6.8rem;
  animation: calc(var(--t_l) * 30) infinite linear rotateLine;
  transform: rotateZ(-30deg);
}
.line-25 {
  width: 11.3rem;
  height: 0.2rem;
  margin-top: 26.8rem;
  margin-left: 7.5rem;
  animation: calc(var(--t_l) * 30) infinite linear rotateLine;
  transform: rotateZ(-30deg);
}
.line-26 {
  width: 11.3rem;
  height: 0.2rem;
  margin-top: 28.2rem;
  margin-left: 8.3rem;
  animation: calc(var(--t_l) * 30) infinite linear rotateLine;
  transform: rotateZ(-30deg);
}
.line-27 {
  width: 20.4rem;
  height: 0.3rem;
  margin-top: 24.7rem;
  margin-left: -26.7rem;
  animation: calc(var(--t_l) * 10) infinite linear rotateLine;
  transform: rotateZ(-10deg);
}
.line-28 {
  width: 16.4rem;
  height: 0.3rem;
  margin-top: 25.5rem;
  margin-left: -22.7rem;
  animation: calc(var(--t_l) * 30) infinite linear rotateLine;
  transform: rotateZ(30deg);
}
