body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(36, 31, 35);
}

img {
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}

svg {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* top: 0; bottom: 0; left: 0; right: 0; */
  opacity: 1;
  /* background: rgb(206, 201, 151); */
}

svg text {
  fill: white;
}

svg .coordinates.hide {
  display: none;
}

img {
  display: none;
}


/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
[id^='line_'].horizontal {
  animation: 3s infinite running slideHorizontal;
}
[id^='line_'].vertical {
  animation: 3s infinite alternate slideVertical;
}

@keyframes slideHorizontal {
  from {
    /* transform: rotate(0deg); */
    transform: translateX(-100%);
  }
  to {
    /* transform: rotate(-360deg); */
    transform: translateX(100%);
  }
}
@keyframes slideVertical {
  from {
    /* transform: rotate(0deg); */
    transform: translateY(-100%);
  }
  to {
    /* transform: rotate(-360deg); */
    transform: translateY(100%);
  }
}